<!-- <mat-form-field>
  <mat-label>Select an option</mat-label>
  <mat-select
    [(value)]="selected"
    (selectionChange)="selectedPair = $event.value"
    [(ngModel)]="selectedTicker"
  >
    <mat-option
      *ngFor="let p of flattenedPairs; let i = index"
      [value]="p.name"
    >
      {{ p.wsname }}
    </mat-option>
  </mat-select>
</mat-form-field> -->

<mat-form-field>
  <input
    type="text"
    matInput
    placeholder="Select pair"
    [formControl]="pairCtrl"
    [matAutocomplete]="auto"
  />

  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="selectedPair = $event.option.value"
  >
    <mat-option *ngFor="let p of filteredPairs | async" [value]="p.name">
      {{ p.wsname }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<div class="fullRow">
  <button
    mat-raised-button
    [disabled]="selectedPair === ''"
    (click)="addRow($event)"
  >
    Voeg toe
  </button>
  <!-- <button mat-raised-button (click)="getTickerData($event)">
    Haal prijzen op
  </button> -->
  <span class="spacer"></span>
</div>
