<mat-form-field>
  <mat-label>Select an option</mat-label>
  <mat-select
    [(value)]="selected"
    (selectionChange)="selectedPair = $event.value"
    [(ngModel)]="selectedTicker"
  >
    <mat-option
      *ngFor="let p of flattenedPairs; let i = index"
      [value]="p.name"
    >
      {{ p.wsname }}
    </mat-option>
  </mat-select>
</mat-form-field>

<div class="fullRow">
  <button mat-raised-button (click)="addRow($event)">Voeg toe</button>
  <!-- <button mat-raised-button (click)="getTickerData($event)">
    Haal prijzen op
  </button> -->
  <span class="spacer"></span>
</div>
