<p>
  <mat-toolbar>
    <span>{{ title }} - {{ getRoute() }}</span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <a mat-menu-item routerLink="/">Home</a>
      <a mat-menu-item routerLink="/portfolio">Portfolio</a>
      <a mat-menu-item routerLink="/profitloss">P&L</a>
      <a mat-menu-item routerLink="/tradeprofitloss">Trade P&L</a>
    </mat-menu>
  </mat-toolbar>
</p>

<router-outlet></router-outlet>
