<section class="table-container" tabindex="0" *ngIf="tickerdata.data.length > 0">
  <mat-table [dataSource]="tickerdata" class="mat-elevation-z8">
    <ng-container>
      <ng-container matColumnDef="name" sticky>
        <mat-header-cell *matHeaderCellDef> Ticker </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ticker}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef> Huidige prijs </mat-header-cell>
        <mat-cell [@valueAnimation]="element.c[0]" *matCellDef="let element"> {{element.c[0]}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="input1">
        <mat-header-cell *matHeaderCellDef> Koers bij verkoop </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index;">
          <mat-form-field>
            <input 
              type="number" 
              matInput 
              value={{element.input1}}
              placeholder="enter number" 
              [(ngModel)]=element.input1
              (change)="processInput($event, element, 0)">
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="input2">
        <mat-header-cell *matHeaderCellDef> Aantal verkocht </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index;">
          <mat-form-field>
            <input 
              type="number" 
              matInput 
              placeholder="enter number" 
              [(ngModel)]=element.input2
              (change)="processInput($event, element, 1)">
          </mat-form-field>
      </mat-cell>
      </ng-container>

      <ng-container matColumnDef="total">
        <mat-header-cell *matHeaderCellDef> Waarde bij verkoop </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{multiply(element.input1, element.input2)}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="total2">
        <mat-header-cell *matHeaderCellDef> Aantal nu te kopen </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{divide(multiply(element.input1, element.input2), element.c[0])}} </mat-cell>
      </ng-container>

    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <p>
    <button mat-raised-button (click)="startStream()">startStream</button>
  </p>
</section>

<!-- [(ngModel)]="edits[element.name + '-' + tickerdata.filteredData.indexOf(element) + '-1']"  -->
<!-- [(ngModel)]="edits[element.name + '-' + tickerdata.filteredData.indexOf(element) + '-2']"  -->