table {
  width: 100%;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.up{
  -webkit-animation: bgcolorToGreen 300ms;
  animation: bgcolorToGreen 300ms;
  animation-iteration-count: 1;
}
.down{
  -webkit-animation: bgcolorToRed 300ms;
  animation: bgcolorToRed 300ms;
  animation-iteration-count: 1;
}

@keyframes bgcolorToRed {
  0% {
      color: red;
  }

  100% {
      color: white;
  }
}
@keyframes bgcolorToGreen {
  0% {
      color: limegreen;
  }

  100% {
      color: white;
  }
}