.table-container {
  /*height: 100%;*/
  width: 100%;
  max-width: 100%;
  overflow: auto;
}
mat-table {
  width: 1400px;
}
.mat-raised-button{
  margin: 15px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

[class^="up"]{
  -webkit-animation: bgcolorToGreen 500ms;
  animation: bgcolorToGreen 500ms;
  animation-iteration-count: 1;
}
[class^="down"]{
  -webkit-animation: bgcolorToRed 500ms;
  animation: bgcolorToRed 500ms;
  animation-iteration-count: 1;
}

@keyframes bgcolorToRed {
  0% {
      color: red;
  }

  100% {
      color: white;
  }
}
@keyframes bgcolorToGreen {
  0% {
      color: limegreen;
  }

  100% {
      color: white;
  }
}