.table-container {
  width: 100%;
  max-width: 100%;
  overflow: auto;
}
mat-table {
  /* width: 800px; */
}
.mat-column-name {
  flex: 0 0 25%;
}
.mat-column-price {
  flex: 0 0 25%;
}
.mat-column-input1 {
  flex: 0 0 25%;
}
.mat-column-total {
  flex: 0 0 25%;
}

.mat-raised-button {
  margin: 15px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
