.table-container {
    width: 100%;
    max-width: 100%;
    overflow: auto;
  }
  mat-table {
    /* width: 800px; */
    overflow-x: hidden;
  }
  .mat-column-name {
    flex: 0 0 15%;
  }
  .mat-column-price {
    flex: 0 0 20%;
  }
  .mat-column-amount {
    flex: 0 0 15%;
  }
  .mat-column-newprice {
    flex: 0 0 20%;
  }
  .mat-column-total {
    flex: 0 0 15%;
  }
  .mat-column-pctchange {
    flex: 0 0 10%;
  }
  
  .mat-raised-button {
    margin: 15px;
  }
  
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  